.projects {
  grid-area: projects;
}
.about {
  grid-area: about;
}
.connect {
  grid-area: connect;
}
.resume {
  grid-area: resume;
}
.image {
  grid-area: image;
}

.grid-menu {
  --s: 250px; /* control the size */
  --g: 50px; /* control the gap */
  --f: 2; /* control the scale factor */
  width: calc(3 * var(--s) + 20 * var(--g));
  height: calc(3 * var(--s) + 1 * var(--g));
  aspect-ratio: 1;
  grid:
    "projects projects connect" 1fr
    "resume image connect" 1fr
    "resume about about" 1fr
    / 1fr 1fr 1fr;
}

.grid-menu > div:hover {
  width: calc(var(--s) * 1.5 * var(--f));
  height: calc(var(--s) * var(--f));
}