.projects {
  grid-area: projects;
}
.about {
  grid-area: about;
}
.connect {
  grid-area: connect;
}
.resume {
  grid-area: resume;
}
.image {
  grid-area: image;
}

.connect:hover {
  width: 700px;
  height: 500px;
}

.about:hover {
  width: 1600px;
  height: 500px;
}
.resume:hover {
  width: 700px;
  height: 500px;
}
.projects:hover {
  width: 1200px;
  height: 200px;
}
