@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background: black;
  color: #ffffff;
}

.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #6e5494;
  color: #ffffff;
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #2666cf;
  color: #ffffff;
}

.whatsapp:hover,
.whatsapp:hover .tooltip,
.whatsapp:hover .tooltip::before {
  background: #25d366;
  color: #ffffff;
}

.location:hover,
.location:hover .tooltip,
.location:hover .tooltip::before {
  background: #C70039;
  color: #ffffff;
}

.phone:hover,
.phone:hover .tooltip,
.phone:hover .tooltip::before {
  background: #5C5470;
  color: #ffffff;
}

.email:hover,
.email:hover .tooltip,
.email:hover .tooltip::before {
  background: #d62d20;
  color: #ffffff;
}
