.submitBtnContainer {
  position: relative;
  width: 75px; /* Set a fixed width to contain the elements */
  height: 75px; /* Set a fixed height to contain the elements */
}

.submitBtn,
.submitBg {
  position: absolute; /* This will stack the elements on top of each other */
  top: 0; /* Position at the top of the container */
  left: 0; /* Position at the left of the container */
}

.submitBtn {
  width: 75px;
  height: 75px;
  background: #26C6DA;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.submitBtn img {
  margin: auto;
}


.submitBg {
  height: 32px;
  width: 32px;
  background-color: rgb(77, 89, 218);
  position: absolute;
  top: 50%; /* Move the top edge to the center of the container */
  left: 50%; /* Move the left edge to the center of the container */
  transform: translate(
    -50%,
    -50%
  ); /* Shift it back by half its own width and height */
}

.btn-boarder {
  border: 2px solid #971616;
  border-radius: 50%;
}

.animation {
  -webkit-transform: translate(100px, -100px);
  -moz-transform: translate(100px, -100px);
  -o-transform: translate(100px, -100px);
  -ms-transform: translate(100px, -100px);
  transform: translate(100px, -100px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.animation2 {
  -webkit-animation: fadeIn 0.4s ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
  -moz-animation: fadeIn 0.4s ease-out;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 0.4s;
  animation: fadeIn 0.4s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
